<div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12">
        <div class="login" id="contentArea">
            <h1 class="display-4">Login</h1>

            <!--Message Area-->
            <% if(messages.length >0) { %>
                <div id="messageArea" class="alert alert-danger">
                    <%= messages %>
                </div>
                <% } %>
        </div>
    </div>
</div>